.form-update-container {
    max-height:35vh ;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
   
  }
  
  
   .updateLabel {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
   input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .update {
    display: block;
    width: 200px;
    padding: 10px;
    background-color: #f59f4e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
  }
  
  .update:hover {
    background-color: #fa912f;
  }